body {
    background-color: black;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.ball {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    background-color: red;
    box-shadow: 10px 10px 5px darkred inset;
    left: 0;
    top: 300px;
    animation: move 6s linear infinite, arc 6s ease-in-out infinite, roll 6s linear infinite;
}

@keyframes move {
    0% {
        left: 0;
    }
    100% {
        left: 100vw;
    }
}

@keyframes arc {
    0% {
        top: 300px;
    }
    25% {
        top: 150px; 
    }
    50% {
        top: 300px; 
    }
    75% {
        top: 150px;
    }
    100% {
        top: 300px; 
    }
}

@keyframes roll {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(1080deg); 
    }
}
