body {
    margin: 0;
    height: 100vh;
    width: 100vw;

}
.box {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 7s linear;
}
.box:hover {
    top: calc(100vh - 100px);
    left: calc(100vw - 100px);
    background-color: red;
}